.box-container {
    width: 20%;
    border: 1px solid black;
    padding: 1%;
    background-color: var(--clr3);
    border-radius: 10px;  
    box-shadow: 2px 2px 6px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 10px;
    margin: 10px;
}

.box-container-body {
    transition: transform ease-out 1000ms;
    transform-origin: center;
}

.box-container-body:hover {
    transform: scale(1.07)
}

.box-container-body:hover :first-child::after {
    content: ' *';
    color: rgb(46, 44, 44)
}