.header {
    background-color: var(--clr4);
    text-align: center;
    padding: 20px;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header h3 {
    font-size: 1.2rem;
    font-style: italic;
}