@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: 'Roboto', sans-serif;
    --clr1: #f4bfbf;
    --clr2: #d7e2ca;
    --clr3: #a1d9d9;
    --clr4: #d9d9a1;
    --grad: linear-gradient(to top right, var(--clr1), var(--clr2), var(--clr3), var(--clr4), var(--clr3), var(--clr2), var(--clr1));
    overflow-y: scroll;
    background-color: var(--clr2);
}